/*---------------------------------------CSS NEWS-----------------------------------------*/
body {
    background-color: #EDEDED;
}
header ul li a {
    color: silver;
}
.brand {
    background: url(../images/bg.png);
    height: 200px;
    background-color: #FFFFFF;
    color: #399ADE;
}

@media (max-width: 1279px) {
    .brand .font {
        padding-top: 40px;
    }
    .brand .font h1 {
        font-size: 25px;
    }
    .brand .font h4 {
        font-size: 15px;
    }
    .brand .font img {
        width: 150px;
    }
    .banner .item h3 {
        font-size: 18px;
    }
    .banner .item a {
        font-size: 10px;
    }
}
.navbar-brand p {
    color: whitesmoke;
}
.brand img {
    width: 150px;
}
.font {
    padding-top: 100px;
}
.font h1 {
    margin-top: 0px;
}
.menu {
    background-color: #399ADE;
}
.menu .search input[type=text]{
    width: 100px;
}
.menu .nav li {
    margin-right: 4px;
}
.menu .navbar button {
    background-color: whitesmoke;
}
.navbar {
    background-color: #399ADE;
    border: none;
    margin-bottom: 0px;
}
.navbar-brand {
    font-family: 'Indie Flower', cursive;
}
.navbar .nav li a {
    color: whitesmoke;
}
.content {
    background-color: #FFFFFF;
}
.banner {
    background-color: #FFFFFF;
    padding: 15px 0px 0px;
}
.banner a {
    color: white;
}
.banner a:hover {
    text-decoration: none;
    color:#fff;
    text-shadow:
            0px 1px 0px #399ADE,
            0px 0px 3px #399ADE,
            0px 0px 5px #399ADE,
            0px 0px 30px #399ADE,
            0px 3px 50px #399ADE;
}
.news {
    padding-top: 30px;
}
.news h2 {
    margin: 0px 0px 30px;
    color: #399ADE;
}
.news .berita {
    margin-bottom: 10px;
}
.news .berita .font1 h3 {
    margin-top: 10px;
}
.news img {
    padding-left: 0px;
    margin-bottom: 20px;
}
.news .trending {
    padding: 0px;
}
footer {
    background-color: #399ADE;
}
footer p {
    padding: 10px 0px;
    color: #F5F5F5;
    margin-bottom: 0px;
}

/*----------------------------KONTAK KAMI------------------------------*/
iframe {
    width: 1140px;
    padding: 20px 0px;
    background-color: white;
    margin-bottom: 30px;
}

.kontak {
    background-color: white;
    padding: 20px;
}
.kontak .glyphicon {
    font-size: 30px;
}
.kontak p {
    color: #399ADE;
}
.pesan {
    background-color: white;
    padding: 30px 0px;
}
.pesan h3 {
    color: #399ADE;
}
.pesan .line hr {
    margin: 20px;
}
.pesan .form {
    padding: 0px 40px;
    margin-bottom: 20px;
}
.pesan .form #komen {
    height: 150px;
}
.pesan #submit button {
    background-color: #399ADE;
    color: white;
}
