* {
	padding: 0;
	margin: 0;
}

body {
	font-family: arial;
	background-color: #DCDCDC;
}

/*HEADER*/
header {
	overflow: hidden;
	margin: auto;
}
.pembungkus {
	width: 1500;
	margin: auto;
	position: relative;
}
.container {
	width: 1500px;
	margin: auto;
	padding: 0px 0px;
	margin-top: 100px;
	background-color: white;
}
.pembungkus .headerLeft {
	float: left;
	font-size: 14px;
	position: absolute;
	top: 70px;
}
.pembungkus .headerLeft p {
	float: left;
	margin-right: 20px;

}
.pembungkus .headerRight {
	float: right;
	font-size: 14px;
	position: absolute;
	top: 70px;
	right: 0px;
}

/*MENU*/
menu {
	height: 100px;
	margin-bottom: 10px;
}
menu .container2 {
	overflow: hidden;
	padding: 10px;
	position: relative;
}
menu .bagMenu1 {
	float: left;
	width: 500px;
	padding: 20px;
}
menu .bagMenu1 img {
	width: 300px;
}
menu .bagMenu2 {
	width: 700px;
	float: left;	
	position: absolute;
	top: 50px;
	left: 470px;
}
menu .bagMenu3 {
	width: 300px;
	float: left;
	padding: 20px;
	position: absolute;
	left: 1230px;
}
menu .bagMenu3 img {
	width: 40px;
	margin-right: 40px;
}
menu ul {
	list-style: none;
}
menu ul li {
	float: left;
	text-align: justify;
}
menu ul li a {
	text-decoration: none;
	margin-right: 50px;
}
menu ul li a:hover {
	text-decoration: underline;
}

/*BANNER*/
.banner  {
	margin-bottom: 50px;
	padding: 10px;
}
.banner .banner1 img {
	width: 100%;
	margin-bottom: 10px;
}
.banner .banner2 {
	overflow: hidden;
	margin-bottom: 10px;
}
.banner .banner2 .banner2Left {
	width: 700px;
	float: left;
}
.banner .banner2 .banner2Right {
	width: 700px;
	float: right;
}
.banner .banner3 img {
	width: 100%;
	margin-bottom: 10px;
}
.banner .banner4 {
	overflow: hidden;
	margin-bottom: 10px;
}
.banner .banner4 .banner4Left {
	width: 700px;
	float: left;
}
.banner .banner4 .banner4Right {
	width: 700px;
	float: right;
	overflow: hidden;
}
.banner .banner4 .banner4Right .banner4rightTop {
	overflow: hidden;
	margin-bottom: 10px;
}
.banner .banner4 .banner4Right .banner4rightTop .banner4righttopLeft {
	margin-right: 10px;
	width: 345px;
	float: left;
	background-color: #F5F5F5;
	text-align: center;
	height: 300px;
	position: relative;
}
.banner .banner4 .banner4Right .font {
	position: absolute;
	top: 80px;
	left: 20px;
}
.banner .banner4 .banner4Right .banner4rightTop .banner4righttopLeft #p1 {
	margin-bottom: 20px;
	font-size: 34px;
}
.banner .banner4 .banner4Right .banner4rightTop .banner4righttopLeft #p2 {
	font-size: 24px;
	color: blue;
	margin-bottom: 20px;
}
.banner .banner4 .banner4Right .banner4rightTop .banner4righttopLeft #p3 {
	font-size: 14px;

}
.banner .banner4 .banner4Right .banner4rightTop .banner4righttopRight {
	width: 345px;
	float: right;
	background-color: #F5F5F5;
	text-align: center;
	height: 300px;
	position: relative;
}
.banner .banner4 .banner4Right .banner4rightTop .banner4righttopRight #p4 {
	margin-bottom: 20px;
	color: blue;
	font-size: 24px
}
.banner .banner4 .banner4Right .banner4rightTop .banner4righttopRight #p5 {
	font-size: 34px;
}
.banner .banner4 .banner4Right .banner4rightBot {
	overflow: hidden;
	margin-bottom: 10px;
}
.banner .banner4 .banner4Right .banner4rightbotLeft {
	width: 345px;
	float: left;
	background-color: #F5F5F5;
	text-align: center; 
	height: 290px;
	position: relative;
}
.banner .banner4 .banner4Right .banner4rightbotLeft #p6 {
	margin-bottom: 20px;
	font-size: 34;
}
.banner .banner4 .banner4Right .banner4rightbotLeft #p7 {
	font-size: 24;
	color: blue;
}
.banner .banner4 .banner4Right .banner4rightbotRight {
	width: 345px;
	float: right;
	background-color: #F5F5F5;
	text-align: center; 
	height: 290px;
	position: relative;
}
.banner .banner4 .banner4Right .banner4rightbotRight #p8 {
	margin-bottom: 20px;
	font-size: 80px;
}
.banner .banner4 .banner4Right .banner4rightbotRight #p9 {
	font-size: 24;
}

/*PRODUCTS*/
.product {
	overflow: hidden;
}
.product .p1 {
	text-align: center;
	font-size: 30px;
}
.product img {
	width: 310px;
	margin: 50px 30px;
}

/*QUOTE*/
.quote {
	padding: 10px;
}
.pembungkus2 {
	overflow: hidden;
	background-color: #009966;
	padding: 30px;
	margin-bottom: 50px;
}
.pembungkus2 .quoteLeft {
	overflow: hidden;
	float: left;
	width: 700px;
}
.pembungkus2 .quoteRight {
	overflow: hidden;
	float: right;
	width: 700px;
}
.pembungkus2 .left {
	float: left;
	padding: 10px;
}
.pembungkus2 .right {
	margin-top: 20px;
	color: #F5F5F5;
}

/*LATESTPOST*/
.latespost {
	overflow: hidden;
	padding: 10px;
}
.latespost #p1 {
	font-size: 30px;
	text-align: center;
	margin-bottom: 30px;
}
.latespost .latespostTop {
	overflow: hidden;
	margin-bottom: 40px;
}
.latespost .latespostTop .posttopLeft {
	overflow: hidden;
	float: left;
	width: 45%;
	
}
.latespost .latespostTop .posttopRight {
	float: right;
	width: 45%;
	overflow: hidden;
}
.latespost .latespostTop .left img {
	width: 300px;
	float: left;
	margin-right: 10px;
}
.latespost .latespostTop .right p {
	color: black;
	margin-bottom: 20px;	
}
.latespostBot {
	text-align: center;
	margin-bottom: 100px;
}
.latespostBot input[type=submit] {
	padding: 20px;
	width: 250px;
	font-size: 20px;
	background-color: #009966;
	color: white;
}

/*FOOTER*/
footer {
	background-color: #F5F5F5;
	padding: 30px;
	overflow: hidden;
}
footer .footer1 {
	width: 300px;
	float: left;
	margin-right: 20px;
	margin-bottom: 10px;
}
footer .footer1 img {
	margin-bottom: 20px;
}
footer .footer2 {
	width: 800px;
	float: left;
	overflow: hidden;
	line-height: 40px;
}
footer .footer2Center {
	float: left;
	width: 250px;
	line-height: 30px;
	margin-right: 10px;
}
.footerRight1 {
	float: left;
	border: 1px solid #DCDCDC;
	padding: 30px;
	margin-bottom: 40px;
}
.footerRight1 input[type=text] {
	width: 150px;
	height: 20px;
	padding: 10px;
}
.footerRight1 input[type=submit] {
	width: 50px;
	height: 45px;
	color: white;
	background-color: #009966;
}
.footerRight2 img {
	width: 20px;
	margin-right: 20px;
}
.footer3 {
	padding: 20px;
	background-color: #F5F5F5;
}
hr {
	color: #DCDCDC;
}